.color{
    background-color: #663399;
}
body{
    background-color: #BA55D3 ;
}

.image{
    width: 90%;
    height: 400px;
    margin: 10px 0px 10px 28px;
    
}

.explanation{
    position: absolute;
    left: 0;
    bottom: 175px;
    opacity: 0;
}
.exp:hover .explanation{
    opacity: 1;
    background-image:radial-gradient(#FF69B4,#483D8B) ;
    transition: opacity 0.9s ease-in-out;
}
.exp{
    background-image: linear-gradient( #FF69B4,#6495ED);
}
.test{
    padding: 5px;
    margin: 5px;
}